In [1]:
import pandas as pd
from os import listdir

### zip_county

In [3]:
zip_county = pd.read_excel('ZIP_COUNTY_122021.xlsx')

In [4]:
zip_county
idx = zip_county.groupby(['zip'])['res_ratio'].transform(max) == zip_county['res_ratio']
zip_county_max = zip_county[idx]
# zip_county[zip_county_max['zip']==683]
zip_county_max

,zip,county,usps_zip_pref_city,usps_zip_pref_state,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,683,72125,SAN GERMAN,PR,0.953036,0.996656,0.980769,0.956300
5,923,72127,SAN JUAN,PR,1.000000,1.000000,1.000000,1.000000
6,1010,25013,BRIMFIELD,MA,0.976896,1.000000,1.000000,0.977816
8,1257,25003,SHEFFIELD,MA,1.000000,1.000000,1.000000,1.000000
9,1267,25003,WILLIAMSTOWN,MA,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...
54255,60684,17031,CHICAGO,IL,0.000000,1.000000,0.000000,1.000000
54256,33945,12071,PINELAND,FL,0.000000,0.000000,1.000000,1.000000
54257,78144,48255,PANNA MARIA,TX,0.000000,1.000000,0.000000,1.000000
54258,12257,36001,ALBANY,NY,0.000000,1.000000,0.000000,1.000000
54259,42061,21083,LOWES,KY,0.000000,0.000000,1.000000,1.000000

### to_merged_data

In [ ]:
file_list = listdir('.\\data')
for i in range(12,13):
    df = pd.read_csv('.\\data\\'+file_list[i])
    df.dropna(subset = ['BorrowerZip'],inplace=True)
#     print(df)
    df['zip'] = df['BorrowerZip'].str.split('-').str[0].astype(int)
    df = df.join(zip_county_max.set_index('zip'),on = 'zip')
    if i == 0:
        df.to_csv('.\\merged_data\\'+'public_150k_plus_220403_merged.csv',index = False)
    else:
        df.to_csv('.\\merged_data\\'+'public_up_to_150k_'+ str(i) +'_220403_merged.csv',index = False)
    print(i)

### to total.csv

In [3]:
merged_file_list = listdir('.\\merged_data')
first = True
open('.\\merged_data\\total.csv','w')
for i in range(13):
    df = pd.read_csv('.\\merged_data\\'+merged_file_list[i])
    if first:
        df.to_csv('.\\merged_data\\total.csv',mode = 'a',index = False)
        first = False
    else:
        df.to_csv('.\\merged_data\\total.csv',mode ='a',index = False,header = False)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (16,50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [105]:
df.columns

Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate', 'zip', 'county', 'usps_zip_pref_city',
       'usps_zip_pref_state', 'res_ratio', 'bus_ratio', 'oth_ratio',
       'tot_ratio'],
      dtype='object')

### read from total.csv

In [5]:
df = pd.read_csv('.\\merged_data\\total.csv')

C:\Users\szhu76\AppData\Local\Temp\40\ipykernel_367396\1160974417.py:1: DtypeWarning: Columns (16,50) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('.\\merged_data\\total.csv')

### get useful columns from df of total.csv

In [6]:
columns = ['RuralUrbanIndicator','HubzoneIndicator','LMIIndicator','JobsReported','InitialApprovalAmount','DateApproved','BorrowerState','county','NAICSCode']
df_new = df.loc[:,columns]
df_new.loc[:,'approved_month'] = pd.to_datetime(df_new['DateApproved']).dt.month
df_new.loc[:,'approved_year'] = pd.to_datetime(df_new['DateApproved']).dt.year
df_new

,RuralUrbanIndicator,HubzoneIndicator,LMIIndicator,JobsReported,InitialApprovalAmount,DateApproved,BorrowerState,county,NAICSCode,approved_month,approved_year
0,U,N,N,62.0,769358.78,05/01/2020,NaN,45085.0,325510.0,5,2020
1,U,Y,Y,73.0,736927.79,05/01/2020,NaN,45035.0,561730.0,5,2020
2,U,N,N,75.0,691355.00,05/01/2020,NaN,53033.0,NaN,5,2020
3,U,N,N,21.0,499871.00,05/01/2020,NaN,6071.0,236115.0,5,2020
4,U,N,N,89.0,289765.00,05/01/2020,NaN,12109.0,813110.0,5,2020
...,...,...,...,...,...,...,...,...,...,...,...
11468703,U,N,N,1.0,9727.00,04/16/2020,MI,26125.0,811111.0,4,2020
11468704,U,N,Y,3.0,9727.00,05/01/2020,MI,26125.0,517210.0,5,2020
11468705,U,N,N,1.0,9727.00,01/30/2021,MI,26125.0,561910.0,1,2021
11468706,U,Y,Y,30.0,9726.19,04/08/2021,MI,26163.0,722511.0,4,2021
11468707,R,N,N,1.0,9726.00,03/30/2021,MI,26055.0,541219.0,3,2021

In [17]:
# df_new['county']
rural_list = df_new[(df_new['approved_year']==2020) & (df_new['approved_month']== 4 )&( df_new['county'] == 1001)]['RuralUrbanIndicator'].tolist()
print(rural_list)

['R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R', 'R']

### drop na of 'NAICSCode'

In [8]:
df_new1 = df_new.dropna(subset = ['NAICSCode'])
df_new1['NAICSCode']  = df_new1['NAICSCode'].apply(lambda x:(str(x)[:2]))
df_new1

<ipython-input-8-9bb711ca569f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new1['NAICSCode']  = df_new1['NAICSCode'].apply(lambda x:(str(x)[:2]))

,RuralUrbanIndicator,HubzoneIndicator,LMIIndicator,JobsReported,InitialApprovalAmount,DateApproved,BorrowerState,county,NAICSCode,approved_month,approved_year
0,U,N,N,62.0,769358.78,05/01/2020,NaN,45085.0,32,5,2020
1,U,Y,Y,73.0,736927.79,05/01/2020,NaN,45035.0,56,5,2020
3,U,N,N,21.0,499871.00,05/01/2020,NaN,6071.0,23,5,2020
4,U,N,N,89.0,289765.00,05/01/2020,NaN,12109.0,81,5,2020
5,U,Y,Y,385.0,9571397.00,08/08/2020,AK,2020.0,54,8,2020
...,...,...,...,...,...,...,...,...,...,...,...
11468703,U,N,N,1.0,9727.00,04/16/2020,MI,26125.0,81,4,2020
11468704,U,N,Y,3.0,9727.00,05/01/2020,MI,26125.0,51,5,2020
11468705,U,N,N,1.0,9727.00,01/30/2021,MI,26125.0,56,1,2021
11468706,U,Y,Y,30.0,9726.19,04/08/2021,MI,26163.0,72,4,2021
11468707,R,N,N,1.0,9726.00,03/30/2021,MI,26055.0,54,3,2021

### aggreate function

In [9]:
def data_aggreate(df_new,groupby_columns):
    grouped_data = df_new.groupby(groupby_columns)
    size = grouped_data.size().reset_index(name='counts')
    rural_size = grouped_data['RuralUrbanIndicator'].apply(lambda x: x[x.str.contains('R')].count()).reset_index(name='rural_counts')['rural_counts']
    hub_size = grouped_data['HubzoneIndicator'].apply(lambda x: x[x.str.contains('Y')].count()).reset_index(name='hub_counts')['hub_counts']
    lmi_size = grouped_data['LMIIndicator'].apply(lambda x: x[x.str.contains('Y',na = False)].count()).reset_index(name='lmi_counts')['lmi_counts']
    data_counts = size
    data_counts['rural_size'] =rural_size
    data_counts['hub_size'] =hub_size
    data_counts['lmi_size'] =lmi_size
    data_counts
    jobs_mean = grouped_data['JobsReported'].mean().reset_index(name = 'jobs_mean')['jobs_mean']
    jobs_sum = grouped_data['JobsReported'].sum().reset_index(name = 'jobs_sum')['jobs_sum']
    init_approval_mean = grouped_data['InitialApprovalAmount'].mean().reset_index(name = 'init_approval_mean')['init_approval_mean']
    init_approval_sum = grouped_data['InitialApprovalAmount'].sum().reset_index(name = 'init_approval_sum')['init_approval_sum']
    data_ratio = data_counts
    data_ratio['rural_ratio'] = data_ratio['rural_size']/data_ratio['counts']
    data_ratio['hub_ratio'] = data_ratio['hub_size']/data_ratio['counts']
    data_ratio['lmi_ratio'] = data_ratio['lmi_size']/data_ratio['counts']
    data_ratio['jobs_mean'] = jobs_mean
    data_ratio['jobs_sum'] = jobs_sum
    data_ratio['init_approval_mean'] = init_approval_mean
    data_ratio['init_approval_sum'] = init_approval_sum
    data_ratio = data_ratio.sort_values(by = ['approved_year','approved_month'])
    return data_ratio

### start analysis

In [13]:
groupby_columns = ['approved_month','approved_year','BorrowerState','NAICSCode']
data1 = data_aggreate(df_new1,groupby_columns)
data1

,approved_month,approved_year,BorrowerState,NAICSCode,counts,rural_size,hub_size,lmi_size,rural_ratio,hub_ratio,lmi_ratio,jobs_mean,jobs_sum,init_approval_mean,init_approval_sum
3920,4,2020,AK,11,229,171,108,11,0.746725,0.471616,0.048035,5.353712,1226.0,4.051239e+04,9.277338e+06
3921,4,2020,AK,21,44,24,21,13,0.545455,0.477273,0.295455,30.727273,1352.0,3.972980e+05,1.748111e+07
3922,4,2020,AK,22,15,4,12,10,0.266667,0.800000,0.666667,16.066667,241.0,4.237751e+05,6.356627e+06
3923,4,2020,AK,23,979,501,367,153,0.511747,0.374872,0.156282,11.405516,11166.0,1.656579e+05,1.621791e+08
3924,4,2020,AK,31,101,46,54,14,0.455446,0.534653,0.138614,15.910891,1607.0,1.161585e+05,1.173201e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11140,6,2021,WY,23,1,1,0,0,1.000000,0.000000,0.000000,1.000000,1.0,1.790200e+04,1.790200e+04
11141,6,2021,WY,45,1,1,0,0,1.000000,0.000000,0.000000,2.000000,2.0,2.080000e+04,2.080000e+04
11142,6,2021,WY,53,1,1,0,0,1.000000,0.000000,0.000000,1.000000,1.0,2.083332e+04,2.083332e+04
11143,6,2021,WY,56,1,0,0,0,0.000000,0.000000,0.000000,1.000000,1.0,2.083300e+04,2.083300e+04
12389,7,2021,IL,53,1,0,0,0,0.000000,0.000000,0.000000,97.000000,97.0,2.000000e+06,2.000000e+06

In [14]:
data1.to_csv('.\\merged_data\\year_month_state_naics.csv',index = False)

### test

In [6]:
import pandas as pd
df_1 = pd.read_csv(r'D:\Shuai-Jingbo-Pei-yu\PPP Dataset\merged_data\public_up_to_150k_1_220403_merged.csv')

In [15]:
df_1.loc[:,'DateApproved'] = pd.to_datetime(df_1.loc[:,'DateApproved'],format = "%m/%d/%Y")
df_1.sort_values(by = 'DateApproved')

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,ForgivenessAmount,ForgivenessDate,zip,county,usps_zip_pref_city,usps_zip_pref_state,res_ratio,bus_ratio,oth_ratio,tot_ratio
455945,4442287003,2020-04-03,464,PPP,THE CULBERTSON AGENCY,1325 Montague Ave Ext.,GREENWOOD,SC,29649-9028,11/20/2020,...,41208.42,10/13/2020,29649,45047.0,GREENWOOD,SC,0.991914,1.000000,1.000000,0.992919
896567,4586307006,2020-04-03,610,PPP,CARROLLTON CAR WASH LTD,3111 Old Denton Road,CARROLLTON,TX,75007,05/12/2021,...,89821.10,04/22/2021,75007,48121.0,CARROLLTON,TX,0.949534,0.713596,0.871935,0.934321
573157,4535517010,2020-04-03,876,PPP,"STORM CLINIC, PROF, LLC",7600 S Minnesota Ave Ste 201,SIOUX FALLS,SD,57108-2981,02/20/2021,...,110537.45,01/25/2021,57108,46083.0,SIOUX FALLS,SD,0.989243,0.937724,0.963320,0.983878
896565,4438287000,2020-04-03,610,PPP,"CENTRAL TEXAS ENT ASSOCIATES, INC.",2510 CROCKETT DR,BROWNWOOD,TX,76801-5900,02/09/2021,...,89623.55,01/29/2021,76801,48049.0,BROWNWOOD,TX,0.997858,1.000000,1.000000,0.998098
46895,4587337006,2020-04-03,303,PPP,"OAE SYSTEMS, LLC",806 S 29TH ST,HARRISBURG,PA,17111-1323,01/12/2021,...,103988.81,11/05/2020,17111,42043.0,HARRISBURG,PA,1.000000,1.000000,1.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669547,1156879110,2021-06-29,474,PPS,KESAR LLC,119 Pinnacle Dr,Johnson City,TN,37615-4666,NaN,...,37036.33,03/11/2022,37615,47179.0,JOHNSON CITY,TN,0.998994,1.000000,1.000000,0.999104
399570,1168779101,2021-06-29,252,PPP,ORLANDO ALVALLE ZAYAS,Urb Monte Bello Calle Majestad G-17 Buzon 4041,Hormigueros,PR,00660,12/17/2021,...,1692.32,11/09/2021,660,72067.0,HORMIGUEROS,PR,0.995467,0.996678,1.000000,0.995569
145329,1156489100,2021-06-29,358,PPS,BARNES FAMILY CHIROPRACTIC PC,5420 William Flynn Hwy 5420 William Flynn Hwy,Gibsonia,PA,15044-9652,10/07/2021,...,21126.52,09/28/2021,15044,42003.0,GIBSONIA,PA,0.948095,0.993506,1.000000,0.951211
865696,1166479101,2021-06-29,671,PPS,TOBACCO MART CORPORATION,3706 Greenway Pointe Dr,Port Arthur,TX,77642-6833,02/12/2022,...,121954.69,01/13/2022,77642,48245.0,PORT ARTHUR,TX,1.000000,1.000000,1.000000,1.000000
265858,1180929101,2021-06-30,358,PPS,ROBERT BIANCO,202 W Mahoning St,Punxsutawney,PA,15767-1961,08/20/2021,...,NaN,NaN,15767,42065.0,PUNXSUTAWNEY,PA,0.947920,0.978992,1.000000,0.951987

In [18]:
import os
merged_file_list = os.listdir('D:\Shuai-Jingbo-Pei-yu\PPP Dataset\data')
first = True
open(r'D:\Shuai-Jingbo-Pei-yu\PPP Dataset\data\total.csv','w')
for i in range(13):
    df = pd.read_csv(r'D:\Shuai-Jingbo-Pei-yu\PPP Dataset\data'+'\\'+merged_file_list[i])
    if first:
        df.to_csv(r'D:\Shuai-Jingbo-Pei-yu\PPP Dataset\data\total.csv',mode = 'a',index = False)
        first = False
    else:
        df.to_csv(r'D:\Shuai-Jingbo-Pei-yu\PPP Dataset\data\total.csv',mode ='a',index = False,header = False)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (16,50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [19]:
chunk = pd.read_csv(r'D:\Shuai-Jingbo-Pei-yu\PPP Dataset\data\total.csv',chunksize=1000000)

In [20]:
df_total  = pd.concat(chunk)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (50) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (16,50) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [22]:
df_total.loc[:,'DateApproved'] = pd.to_datetime(df_total.loc[:,'DateApproved'],format = "%m/%d/%Y")

In [23]:
df_total.sort_values(by = 'DateApproved').to_csv(r'D:\Shuai-Jingbo-Pei-yu\PPP Dataset\data\total_sort_date.csv')

In [25]:
df_total_sorted_date = df_total.sort_values(by = 'DateApproved')

In [26]:
df_total_sorted_date

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
7737623,4589567009,2020-04-03,767.0,PPP,"CRAZY JAY'S BED SHOP, INC.",1026 S OLIVER AVE,WICHITA,KS,67218-3218,01/20/2021,...,Subchapter S Corporation,26195.0,Carson Bank,MULVANE,KS,Male Owned,Unanswered,NaN,36944.67,12/10/2020
9670869,4560027007,2020-04-03,875.0,PPP,STEVE GRENIER,9474 35th Ave,ROLETTE,ND,58366-8024,12/16/2020,...,Subchapter S Corporation,118060.0,Starion Bank,BISMARCK,ND,Male Owned,Non-Veteran,NaN,35918.11,11/20/2020
44684,4466937002,2020-04-03,920.0,PPP,TITANIUM LLC,10565 Civic Center Dr Ste 160,RANCHO CUCAMONGA,CA,91730-3802,08/19/2021,...,Limited Liability Company(LLC),72740.0,First Utah Bank,SALT LAKE CITY,UT,Male Owned,Non-Veteran,NaN,1371296.69,07/20/2021
950165,4414147010,2020-04-03,563.0,PPP,"KAAT'S WATER CONDITIONING, INC.",3109 CTY RD PP,PLYMOUTH,WI,53073,03/09/2021,...,Corporation,75967.0,Hiawatha National Bank,HAGER CITY,WI,Male Owned,Non-Veteran,NaN,543570.00,12/08/2020
488428,4397657007,2020-04-03,508.0,PPP,"WINONA PRODUCTION SERVICES, INC.",1025 E King Street,WINONA,MN,55987-4760,04/08/2021,...,Corporation,39059.0,"WNB Financial, National Association",WINONA,MN,Male Owned,Non-Veteran,NaN,316497.16,02/25/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4171924,1180979105,2021-06-30,914.0,PPS,28 LLC,21515 Parthenia St,Canoga Park,CA,91304-1515,03/12/2022,...,Limited Liability Company(LLC),514546.0,"BSD Capital, LLC dba Lendistry",Brea,CA,Unanswered,Unanswered,NaN,24564.49,02/17/2022
10970118,1180699104,2021-06-30,549.0,PPS,FIRST HUNGARIAN BENEFIT,451 W Park Ave,Barberton,OH,44203-2611,NaN,...,Corporation,57328.0,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,NaN,NaN
439455,1180789107,2021-06-30,373.0,PPS,WBCM CONSTRUCTION SERVICES LLC,300 E Joppa Rd Ste 200,Baltimore,MD,21286-3015,NaN,...,Limited Liability Company(LLC),46391.0,Manufacturers and Traders Trust Company,BUFFALO,NY,Male Owned,Non-Veteran,NaN,214337.96,03/01/2022
2077809,1180859104,2021-06-30,671.0,PPS,SNOWSTAR LLC,14911 Wood Swallow Way,Cypress,TX,77429-6571,12/21/2021,...,Limited Liability Company(LLC),97538.0,A N E C A FCU,SHREVEPORT,LA,Male Owned,Non-Veteran,NaN,20911.77,11/17/2021
311315,1269619109,2021-07-19,507.0,PPS,"FIVE-STAR AUDIOVISUAL, INC.",127 Ambassador Dr,Naperville,IL,60540-3950,NaN,...,Corporation,514546.0,"BSD Capital, LLC dba Lendistry",Brea,CA,Unanswered,Unanswered,NaN,NaN,NaN

In [27]:
uq_date = df_total_sorted_date.drop_duplicates(subset = ['DateApproved']).loc[:,'DateApproved']

In [29]:
uq_date.tolist()

[Timestamp('2020-04-03 00:00:00'),
 Timestamp('2020-04-04 00:00:00'),
 Timestamp('2020-04-05 00:00:00'),
 Timestamp('2020-04-06 00:00:00'),
 Timestamp('2020-04-07 00:00:00'),
 Timestamp('2020-04-08 00:00:00'),
 Timestamp('2020-04-09 00:00:00'),
 Timestamp('2020-04-10 00:00:00'),
 Timestamp('2020-04-11 00:00:00'),
 Timestamp('2020-04-12 00:00:00'),
 Timestamp('2020-04-13 00:00:00'),
 Timestamp('2020-04-14 00:00:00'),
 Timestamp('2020-04-15 00:00:00'),
 Timestamp('2020-04-16 00:00:00'),
 Timestamp('2020-04-20 00:00:00'),
 Timestamp('2020-04-21 00:00:00'),
 Timestamp('2020-04-22 00:00:00'),
 Timestamp('2020-04-27 00:00:00'),
 Timestamp('2020-04-28 00:00:00'),
 Timestamp('2020-04-29 00:00:00'),
 Timestamp('2020-04-30 00:00:00'),
 Timestamp('2020-05-01 00:00:00'),
 Timestamp('2020-05-02 00:00:00'),
 Timestamp('2020-05-03 00:00:00'),
 Timestamp('2020-05-04 00:00:00'),
 Timestamp('2020-05-05 00:00:00'),
 Timestamp('2020-05-06 00:00:00'),
 Timestamp('2020-05-07 00:00:00'),
 Timestamp('2020-05-08 00:00:00'),
 Timestamp('2020-05-09 00:00:00'),
 Timestamp('2020-05-10 00:00:00'),
 Timestamp('2020-05-11 00:00:00'),
 Timestamp('2020-05-12 00:00:00'),
 Timestamp('2020-05-13 00:00:00'),
 Timestamp('2020-05-14 00:00:00'),
 Timestamp('2020-05-15 00:00:00'),
 Timestamp('2020-05-16 00:00:00'),
 Timestamp('2020-05-17 00:00:00'),
 Timestamp('2020-05-18 00:00:00'),
 Timestamp('2020-05-19 00:00:00'),
 Timestamp('2020-05-20 00:00:00'),
 Timestamp('2020-05-21 00:00:00'),
 Timestamp('2020-05-22 00:00:00'),
 Timestamp('2020-05-23 00:00:00'),
 Timestamp('2020-05-24 00:00:00'),
 Timestamp('2020-05-25 00:00:00'),
 Timestamp('2020-05-26 00:00:00'),
 Timestamp('2020-05-27 00:00:00'),
 Timestamp('2020-05-28 00:00:00'),
 Timestamp('2020-05-29 00:00:00'),
 Timestamp('2020-05-30 00:00:00'),
 Timestamp('2020-05-31 00:00:00'),
 Timestamp('2020-06-01 00:00:00'),
 Timestamp('2020-06-02 00:00:00'),
 Timestamp('2020-06-03 00:00:00'),
 Timestamp('2020-06-04 00:00:00'),
 Timestamp('2020-06-05 00:00:00'),
 Timestamp('2020-06-06 00:00:00'),
 Timestamp('2020-06-07 00:00:00'),
 Timestamp('2020-06-08 00:00:00'),
 Timestamp('2020-06-09 00:00:00'),
 Timestamp('2020-06-10 00:00:00'),
 Timestamp('2020-06-11 00:00:00'),
 Timestamp('2020-06-12 00:00:00'),
 Timestamp('2020-06-13 00:00:00'),
 Timestamp('2020-06-14 00:00:00'),
 Timestamp('2020-06-15 00:00:00'),
 Timestamp('2020-06-16 00:00:00'),
 Timestamp('2020-06-17 00:00:00'),
 Timestamp('2020-06-18 00:00:00'),
 Timestamp('2020-06-19 00:00:00'),
 Timestamp('2020-06-20 00:00:00'),
 Timestamp('2020-06-21 00:00:00'),
 Timestamp('2020-06-22 00:00:00'),
 Timestamp('2020-06-23 00:00:00'),
 Timestamp('2020-06-24 00:00:00'),
 Timestamp('2020-06-25 00:00:00'),
 Timestamp('2020-06-26 00:00:00'),
 Timestamp('2020-06-27 00:00:00'),
 Timestamp('2020-06-28 00:00:00'),
 Timestamp('2020-06-29 00:00:00'),
 Timestamp('2020-06-30 00:00:00'),
 Timestamp('2020-07-01 00:00:00'),
 Timestamp('2020-07-04 00:00:00'),
 Timestamp('2020-07-06 00:00:00'),
 Timestamp('2020-07-07 00:00:00'),
 Timestamp('2020-07-08 00:00:00'),
 Timestamp('2020-07-09 00:00:00'),
 Timestamp('2020-07-10 00:00:00'),
 Timestamp('2020-07-11 00:00:00'),
 Timestamp('2020-07-12 00:00:00'),
 Timestamp('2020-07-13 00:00:00'),
 Timestamp('2020-07-14 00:00:00'),
 Timestamp('2020-07-15 00:00:00'),
 Timestamp('2020-07-16 00:00:00'),
 Timestamp('2020-07-17 00:00:00'),
 Timestamp('2020-07-18 00:00:00'),
 Timestamp('2020-07-19 00:00:00'),
 Timestamp('2020-07-20 00:00:00'),
 Timestamp('2020-07-21 00:00:00'),
 Timestamp('2020-07-22 00:00:00'),
 Timestamp('2020-07-23 00:00:00'),
 Timestamp('2020-07-24 00:00:00'),
 Timestamp('2020-07-25 00:00:00'),
 Timestamp('2020-07-26 00:00:00'),
 Timestamp('2020-07-27 00:00:00'),
 Timestamp('2020-07-28 00:00:00'),
 Timestamp('2020-07-29 00:00:00'),
 Timestamp('2020-07-30 00:00:00'),
 Timestamp('2020-07-31 00:00:00'),
 Timestamp('2020-08-01 00:00:00'),
 Timestamp('2020-08-02 00:00:00'),
 Timestamp('2020-08-03 00:00:00'),
 Timestamp('2020-08-04 00:00:00'),
 Timestamp('2020-08-05 00:00:00'),
 Timestamp('2020-08-06 00:00:00'),
 Timestamp('2020-08-07 00:00:00'),
 Timestamp('2020-08-08 00:00:00'),
 Timestamp('2020-08-09 00:00:00'),
 Timestamp('2020-12-08 00:00:00'),
 Timestamp('2020-12-14 00:00:00'),
 Timestamp('2021-01-12 00:00:00'),
 Timestamp('2021-01-13 00:00:00'),
 Timestamp('2021-01-14 00:00:00'),
 Timestamp('2021-01-15 00:00:00'),
 Timestamp('2021-01-16 00:00:00'),
 Timestamp('2021-01-17 00:00:00'),
 Timestamp('2021-01-19 00:00:00'),
 Timestamp('2021-01-20 00:00:00'),
 Timestamp('2021-01-21 00:00:00'),
 Timestamp('2021-01-22 00:00:00'),
 Timestamp('2021-01-23 00:00:00'),
 Timestamp('2021-01-25 00:00:00'),
 Timestamp('2021-01-26 00:00:00'),
 Timestamp('2021-01-27 00:00:00'),
 Timestamp('2021-01-28 00:00:00'),
 Timestamp('2021-01-29 00:00:00'),
 Timestamp('2021-01-30 00:00:00'),
 Timestamp('2021-01-31 00:00:00'),
 Timestamp('2021-02-01 00:00:00'),
 Timestamp('2021-02-02 00:00:00'),
 Timestamp('2021-02-03 00:00:00'),
 Timestamp('2021-02-04 00:00:00'),
 Timestamp('2021-02-05 00:00:00'),
 Timestamp('2021-02-06 00:00:00'),
 Timestamp('2021-02-07 00:00:00'),
 Timestamp('2021-02-08 00:00:00'),
 Timestamp('2021-02-09 00:00:00'),
 Timestamp('2021-02-10 00:00:00'),
 Timestamp('2021-02-11 00:00:00'),
 Timestamp('2021-02-12 00:00:00'),
 Timestamp('2021-02-13 00:00:00'),
 Timestamp('2021-02-14 00:00:00'),
 Timestamp('2021-02-16 00:00:00'),
 Timestamp('2021-02-17 00:00:00'),
 Timestamp('2021-02-18 00:00:00'),
 Timestamp('2021-02-19 00:00:00'),
 Timestamp('2021-02-20 00:00:00'),
 Timestamp('2021-02-22 00:00:00'),
 Timestamp('2021-02-23 00:00:00'),
 Timestamp('2021-02-24 00:00:00'),
 Timestamp('2021-02-25 00:00:00'),
 Timestamp('2021-02-26 00:00:00'),
 Timestamp('2021-02-27 00:00:00'),
 Timestamp('2021-03-01 00:00:00'),
 Timestamp('2021-03-02 00:00:00'),
 Timestamp('2021-03-03 00:00:00'),
 Timestamp('2021-03-04 00:00:00'),
 Timestamp('2021-03-05 00:00:00'),
 Timestamp('2021-03-06 00:00:00'),
 Timestamp('2021-03-08 00:00:00'),
 Timestamp('2021-03-09 00:00:00'),
 Timestamp('2021-03-10 00:00:00'),
 Timestamp('2021-03-12 00:00:00'),
 Timestamp('2021-03-13 00:00:00'),
 Timestamp('2021-03-15 00:00:00'),
 Timestamp('2021-03-16 00:00:00'),
 Timestamp('2021-03-17 00:00:00'),
 Timestamp('2021-03-18 00:00:00'),
 Timestamp('2021-03-20 00:00:00'),
 Timestamp('2021-03-23 00:00:00'),
 Timestamp('2021-03-24 00:00:00'),
 Timestamp('2021-03-25 00:00:00'),
 Timestamp('2021-03-26 00:00:00'),
 Timestamp('2021-03-27 00:00:00'),
 Timestamp('2021-03-28 00:00:00'),
 Timestamp('2021-03-29 00:00:00'),
 Timestamp('2021-03-30 00:00:00'),
 Timestamp('2021-03-31 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-04-02 00:00:00'),
 Timestamp('2021-04-03 00:00:00'),
 Timestamp('2021-04-04 00:00:00'),
 Timestamp('2021-04-05 00:00:00'),
 Timestamp('2021-04-06 00:00:00'),
 Timestamp('2021-04-07 00:00:00'),
 Timestamp('2021-04-08 00:00:00'),
 Timestamp('2021-04-09 00:00:00'),
 Timestamp('2021-04-10 00:00:00'),
 Timestamp('2021-04-11 00:00:00'),
 Timestamp('2021-04-12 00:00:00'),
 Timestamp('2021-04-13 00:00:00'),
 Timestamp('2021-04-14 00:00:00'),
 Timestamp('2021-04-15 00:00:00'),
 Timestamp('2021-04-16 00:00:00'),
 Timestamp('2021-04-17 00:00:00'),
 Timestamp('2021-04-18 00:00:00'),
 Timestamp('2021-04-19 00:00:00'),
 Timestamp('2021-04-20 00:00:00'),
 Timestamp('2021-04-21 00:00:00'),
 Timestamp('2021-04-22 00:00:00'),
 Timestamp('2021-04-23 00:00:00'),
 Timestamp('2021-04-24 00:00:00'),
 Timestamp('2021-04-26 00:00:00'),
 Timestamp('2021-04-27 00:00:00'),
 Timestamp('2021-04-28 00:00:00'),
 Timestamp('2021-04-29 00:00:00'),
 Timestamp('2021-04-30 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-02 00:00:00'),
 Timestamp('2021-05-03 00:00:00'),
 Timestamp('2021-05-05 00:00:00'),
 Timestamp('2021-05-07 00:00:00'),
 Timestamp('2021-05-11 00:00:00'),
 Timestamp('2021-05-12 00:00:00'),
 Timestamp('2021-05-13 00:00:00'),
 Timestamp('2021-05-14 00:00:00'),
 Timestamp('2021-05-15 00:00:00'),
 Timestamp('2021-05-16 00:00:00'),
 Timestamp('2021-05-17 00:00:00'),
 Timestamp('2021-05-18 00:00:00'),
 Timestamp('2021-05-19 00:00:00'),
 Timestamp('2021-05-20 00:00:00'),
 Timestamp('2021-05-21 00:00:00'),
 Timestamp('2021-05-22 00:00:00'),
 Timestamp('2021-05-23 00:00:00'),
 Timestamp('2021-05-25 00:00:00'),
 Timestamp('2021-05-26 00:00:00'),
 Timestamp('2021-05-27 00:00:00'),
 Timestamp('2021-05-28 00:00:00'),
 Timestamp('2021-05-29 00:00:00'),
 Timestamp('2021-06-15 00:00:00'),
 Timestamp('2021-06-16 00:00:00'),
 Timestamp('2021-06-22 00:00:00'),
 Timestamp('2021-06-29 00:00:00'),
 Timestamp('2021-06-30 00:00:00'),
 Timestamp('2021-07-19 00:00:00')]